<div id="login" class="view">
	<div class="view--header">
		<h1 class="view--title">{{ viewTitle }}</h1>
	</div>
	<form (submit)="handleOnSubmit()" class="flex column center-all">
		<div class="form-group">
			<label htmlFor="username">Username</label>
			<input
				type="text"
				class="form-control"
				id="username"
				name="username"
				placeholder="Username"
				[(ngModel)]="user.username"
				required
			/>
		</div>

		<div class="form-group">
			<label htmlFor="password">Password</label>
			<input
				type="password"
				class="form-control"
				id="password"
				name="password"
				placeholder="Password"
				[(ngModel)]="user.password"
				required
			/>
		</div>
		
		<button type="submit" class="btn btn-success">Submit</button>
	</form>
</div>
